.nftList {
  display: grid;
  grid-gap: 24px;
}

@media screen and (min-width: 500px) {
  .nftList {
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
  }
}

@media screen and (min-width: 1000px) {
  .nftList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}