.headerMain {
  padding: 1rem 0;
  /* border: 1px solid; */
}

.mainHeader {
  /* border: 1px solid; */
  margin-top: 2rem;
  padding: 0 1rem;
}

.headerTitle {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-family: var(--red-rose);
  color: var(--text-black);
  text-align: center;
}

.innerSpan {
  color: var(--purple);
}

.headerText {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--text-black);
  line-height: 25px;
  font-weight: 400;
  font-family: var(--red-rose);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.searchBar {
  display: flex;
  margin-top: 1.5rem;
}

.search {
  padding: 1rem;
  width: 70%;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--red-rose);
}

.search::placeholder {
  color: #b8b8b8;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: var(--red-rose);
}

.searchBtn {
  background-color: red;
  width: 30%;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  font-size: 0.8rem;
  font-family: var(--red-rose);
}

.sponsor {
  background-color: var(--purple);
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.sponsor img {
  width: 100px;
  margin: 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .headerMain {
    padding: 1 2rem;
  }

  .mainHeader {
    padding: 0 2rem;
  }

  .headerTitle {
    font-size: 2.5rem;
  }

  .sponsor {
    padding: 0 5rem;
  }

  .sponsor img:nth-child(1) {
    margin-right: auto;
  }
  .sponsor img:nth-child(2) {
    margin: 0 auto;
  }
  .sponsor img:nth-child(3) {
    margin-left: auto;
  }
}

@media screen and (min-width: 1000px) {
  .headerMain {
    padding: 1.5rem 0;
  }

  .mainHeader {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-column-gap: 7rem;
    place-items: center;
    padding: 0 3rem;
  }

  .headerTitle {
    font-size: 3rem;
    line-height: 140%;
    text-align: left;
  }

  .headerText {
    font-size: 1.5rem;
    line-height: 35px;
    margin-top: 0;
    margin: 1.5rem 0 2.5rem 0;
    max-width: none;
    text-align: left;
  }

  .searchBar {
    margin-top: 0;
  }

  .sponsor {
    margin-top: 5rem;
  }

  .sponsor img {
    width: auto;
  }
}
