* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-rose: "Red Rose", cursive;
  --text-black: #434343;
  --black: #000000;
  --white: #fff;
  --purple: #a02279;
}

button,
a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}
